body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/People_waiting_a_train_of_Line_13_to_come_02.JPG/1024px-People_waiting_a_train_of_Line_13_to_come_02.JPG");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    max-width: 80%;
    background: white;
    margin: auto;
    padding: 10px 3px;
    border: 2px solid black;
    border-radius: 15px
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100px;
    color: green
}

h3 {
    margin-top: 0px
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: maroon;
}

#save-btn {
    background: green;
}
